<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        {% for i in form %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.user}}</td> 
            <td>{{i.roll}}</td> 
            <td>{{i.city}}</td> 
            <td>{{i.marks}}</td>  
            <td>{{i.pass_date}}</td>
            
        </tr>
        {% endfor %}
    </table>

    AVG DATA   {{avg.marks__avg}}
    <br>
    MIN DATA   {{min.marks__min}}   
    <br>
    MAX DATA   {{max.marks__max}}    
    <br>
    SUM DATA   {{sum.marks__sum}}
    <br>
    COUNT DATA   {{count.marks__count}}                   
</body>
</html>