<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>

        {% for i in tech %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.name}}</td> 
            <td>{{i.age}}</td> 
            <td>{{i.fees}}</td> 

            
        </tr>
        {% endfor %}


        {% for s in stu %}
        <tr>
            <td>{{s.id}}</td>
            <td>{{s.name}}</td> 
            <td>{{s.age}}</td> 
            <td>{{s.date}}</td> 
            <td>{{s.salary}}</td>  

            
        </tr>
        {% endfor %}


        {% for t in con %}
        <tr>
            <td>{{t.id}}</td>
            <td>{{t.name}}</td> 
            <td>{{t.age}}</td> 
            <td>{{t.date}}</td> 
            <td>{{t.payment}}</td>  

        </tr>
        {% endfor %}
    </table>
</body>
</html>